.modal {
    position: fixed;
    z-index: 500;
    background-color: var(--brand-color-white);
    width: fit-content;
    border: var(--border-neutral-thin);
    border-radius: 10px;
    box-shadow: 1px 1px 1px var(--brand-color-black);
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}