.message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    position: fixed;
    top: 1rem;  
}

.message {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    z-index: 1000;
}

.message-icon {
    width: 2rem;
    height: 2rem;
}

.message > * {
    margin-right: 1rem;
    margin-left: 1rem;
}

.theme_info {
    background-color: var(--gradient-blue-70);
    color: var(--brand-color-blue);
    border-left: 6px solid var(--brand-color-blue);
}

.theme_success {
    background-color: var(--gradient-cyan-80);
    color: var(--brand-color-green);
    border-left: 6px solid var(--brand-color-green);
}

.theme_warning {
    background-color: var(--gradient-yellow-70);
    color: var(--brand-color-orange);
    border-left: 6px solid var(--brand-color-orange);
}

.theme_error {
    background-color: var(--gradient-red-70);
    color: var(--brand-color-red);
    border-left: 6px solid var(--brand-color-red);
}