.cart-item__wrapper {
    width: 35rem;
    display: grid;
    grid-template-columns: 7rem auto auto;
    grid-template-rows: auto;
}

.image > img {
    width: 7rem;
    height: 7rem;
    border-radius: 7px;
}

.cart-item__name {
    font-weight: 500;
}

.cart-item__name span, .description {
    color: var(--brand-color-gray);
    opacity: .9;
    font-weight: 200;
}

.cart-item__description, .control-block {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart-item__description {
    justify-content: flex-start;
}

.cart-item__description p {
    margin-left: 1rem;
}

.control-block {
    align-items: flex-end;
}

.control-block button {
    width: 8rem;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--brand-color-yellow);
    cursor: pointer;
}